<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <div class="modal fade" id="myModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Регистрация</h4>
                </div>
                <div class="modal-body">
                    <p>Для подтверждения регистрации откройте свою почту и перейдите по ссылке&hellip;</p>
                </div>
                <div class="modal-footer">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Закрыть</a>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#myModal").modal('show');
        });
    </script>
</body>

